/*
	File Name:             Game - CSS File 
	Author:                Elaine Mae Villarino 
	Last Modified By:      Elaine Mae Villarino
	Last Modified Date:    Wednesday, October 26th, 2016
	Website Name:          EV - COMP397 - Assignment 2
	Program Description:   CSS file that contains the styles that render the whole 
						   COMP397 - Assignment 2 site which is the Hangman Game.
*/

/*=================================================
			1. Common Variables
==================================================*/
body {
    background-color: darkgrey;
}

.game {
    width : 50%;
    margin: 0 auto;
}

canvas {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin-left: 10%;
}

/*=================================================
			2. Footer - NOT USED CURRENTLY
==================================================*/

/*=================================================
			3. @Media Variables - NOT USED CURRENTLY
==================================================*/